{% extends "tinyforum/base.html" %}

{% load fineforms i18n static %}

{% block extra-body-class %}forum{% endblock %}

{% block lead-title %}
  <h1>{% trans "Moderation" %}</h1>
{% endblock %}

{% block main-region-content %}

<div class="row">
  <section class="small-12 columns">
    {% if object_list %}
    <table>
      <thead>
        <tr>
          <th>{% trans 'post' %}</th>
          <th>{% trans 'report' %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for report in object_list %}
        <tr>
          <td>
            <strong><a href="{{ report.post.thread.get_absolute_url }}">{{ report.post.thread }}</a></strong>
            <br/>
            {{ report.post.authored_by.profile }} ({{ report.post.authored_by.profile.post_count }} posts) at {{ report.post.created_at }}
            <br/>
            {{ report.post.text|safe }}
          </td>
          <td>
            By {{ report.authored_by.profile }} ({{ report.authored_by.profile.post_count }} posts) at {{ report.created_at }}
            <br/>
            {{ report.get_reason_display }}
            <br/>
            {{ report.notes|linebreaksbr }}
          </td>
          <td>
            <a href="{% url 'tinyforum:report-handle' pk=report.pk %}" class="button">Handle</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>
      <strong>{% trans 'Yay, all reports have been handled!' %}</strong><br>
      <small>{% trans 'Note! Your own reports, if there are any, are not visisble to you.' %}</small>
    </p>
    {% endif %}

    {% include "tinyforum/pagination.html" %}

</div>

{% endblock %}
