{% extends "tinyforum/base.html" %}

{% load fineforms i18n %}

{% block content %}

<div class="row">
  <div class="small-12 columns">

    <h2>{{ thread }}</h2>
    <a class="button"
       href="{% url 'tinyforum:thread-update' pk=thread.pk %}">Thread aktualisieren</a>

    {% for post in object_list %}
    <h3>{{ post.authored_by.profile }} on {{ post.created_at }}</h3>
    {{ post.text|safe }}
    <a href="{% url 'tinyforum:post-update' pk=post.pk %}">Post bearbeiten</a>
    {% endfor %}

    <h3>Post</h3>
    <form method="post" action="">
      {% csrf_token %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>$.noConflict();</script>
      {{ form.media }}
      {% ff_errors form %}
      {% ff_fields form %}
      <button type="submit">{% trans 'Submit' %}</button>
    </form>

  </div>
</div>

{% endblock %}
