{% extends "tinyforum/base.html" %}

{% load fineforms i18n static %}

{% block content %}

<div class="row">
  <div class="small-12 columns">

    <form method="post">
      {% csrf_token %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>$.noConflict();CKEDITOR_BASEPATH='{% static "ckeditor/ckeditor/" %}';</script>
      {{ form.media }}
      {% ff_errors form %}
      {% ff_fields form %}
      <button type="submit">{% trans 'Submit' %}</button>
    </form>

  </div>
</div>

{% endblock %}
