{% extends "tinyforum/base.html" %}

{% load fineforms i18n static %}

{% block extra-body-class %}forum{% endblock %}

{% block content %}

<div class="row">
  <section class="small-12 columns thread">
    <header>
      <a href="{% url 'tinyforum:thread-list' %}">&lt; {% trans 'Back to thread list' %}</a>
      <h2 class="thread__title">{{ thread }}</h2>
      <a class="button thread__update"
         href="{% url 'tinyforum:thread-update' pk=thread.pk %}">Thread aktualisieren</a>

      <div class="thread__header">
        <div class="row">
          <div class="columns show-for-medium medium-2">{% trans 'Author' %}</div>
          <div class="columns show-for-medium medium-10">{% trans 'Message' %}</div>
        </div>
      </div>
    </header>

    {% for post in object_list %}
      <article class="post">
        <div class="row">
          <header class="columns small-12 post__header">{% trans 'Created at' %}: <time datetime="{{ post.created_at|date:'c' }}">{{ post.created_at }}</time></header>
          <div class="columns small-12 medium-2 post__info">
            <span class="post__author">{{ post.authored_by.profile }}</span><br />

            {% if thread.authored_by == post.authored_by %}
              <span class="post__thread-author">{% trans 'Creator of the thread' %}</span>
            {% endif %}<br />
            <time class="post__date-joined" datetime="{{ post.authored_by.profile.user.date_joined|date:'c' }}">{{ post.authored_by.profile.user.date_joined|date:'j.m.Y' }}</time><br />
          </div>
          <div class="columns small-12 medium-10 post__content">
            {{ post.text|safe }}
          </div>
        </div>
        <div class="post__footer">
          <a href="{% url 'tinyforum:post-update' pk=post.pk %}">Post bearbeiten</a>
        </div>
      </article>
    {% endfor %}

    {% if form %}
      <h3>Post</h3>
      <form method="post" action="">
        {% csrf_token %}

        <script src="{% static 'webapp/lib/emojione.min.js' %}"></script>
        <script>CKEDITOR_BASEPATH='{% static "ckeditor/ckeditor/" %}';</script>
        {{ form.media }}
        {% ff_errors form %}
        {% ff_fields form %}

        <button type="submit">{% trans 'Submit' %}</button>
      </form>
    {% endif %}

  </section>
</div>

{% if object_list.paginator %}
<div class="row">
  <div class="small-12 columns pagination">
    {% if object_list.has_previous %}
      <a href="?page={{ object_list.previous_page_number }}">&laquo;</a>
    {% else %}
      <span>&laquo;</span>
    {% endif %}

    {% for p in object_list.paginator.page_range %}
      <a {% if p == object_list.number %}class="mark"{% endif %} href="?page={{ p }}">{{ p }}</a>
    {% endfor %}

    {% if object_list.has_next %}
      <a href="?page={{ object_list.next_page_number }}">&raquo;</a>
    {% else %}
      <span>&raquo;</span>
    {% endif %}
  </div>
</div>
{% endif %}

{% endblock %}


2001-05-15T19:00
