{% extends "tinyforum/base.html" %}

{% load i18n %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h1>Threads</h1>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>{% trans 'thread' %}</th>
          <th>{% trans 'posts' %}</th>
          <th>{% trans 'latest post' %}</th>
        </tr>
      </thead>
      <tbody>

        {% for thread in object_list %}
        <tr>
          <td>(star)</td>
          <th>
            <a href="{{ thread.get_absolute_url }}">
              <strong>{{ thread.title }}</strong><br>
              {{ thread.created_at }} by {{ thread.authored_by.profile }}
            </a>
          </th>
          <td>{{ thread.post_count }}</td>
          <td>{{ thread.latest_post.created_at }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <a class="button" href="{% url 'tinyforum:thread-create' %}">
      Neuen Thread erstellen
    </a>
  </div>
</div>
{% endblock %}
