{% extends "tinyforum/base.html" %}

{% load fineforms i18n %}

{% block extra-body-class %}forum{% endblock %}

{% block lead-title %}
  {% if thread.title %}
    <h1>{% trans 'Update thread' %}</h1>
  {% else %}
    <h1>{% trans 'Create thread' %}</h1>
  {% endif %}
{% endblock %}

{% block main-region %}

<div class="row">
  <div class="small-11 medium-10 large-9 small-centered columns thread-form">
    <div class="row">
      <div class="columns small-11 medium-10 small-centered">

        {% if moderation %}<h2>Moderation</h2>{% endif %}

        <form method="post">
          {% csrf_token %}
          {% ff_errors form %}
          {% ff_fields form %}
          <button type="submit">{% trans 'Submit' %}</button>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock %}
