{% extends "tinyforum/base.html" %}

{% load i18n tinyforum %}

{% block extra-body-class %}forum{% endblock %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h1>Threads</h1>
    <table class="thread-list">
      <thead class="thread-list__header">
        <tr>
          <th class="thread-list__label"></th>
          <th class="thread-list__title">{% trans 'Thread' %}</th>
          <th class="thread-list__post-count">{% trans 'Posts' %}</th>
          <th class="thread-list__author">{% trans 'Author' %}</th>
          <th class="thread-list__latest-post">{% trans 'Latest post' %}</th>
        </tr>
      </thead>
      <tbody>

        {% for thread in object_list %}
        <tr class="thread-list__row">
          <td class="thread-list__label">{% thread_star thread %}</td>
          <td class="thread-list__title">

            <a href="{{ thread.get_absolute_url }}">
              {{ thread.title }}
            </a>
          </td>
          <td class="thread-list__post-count">{{ thread.post_count }}</td>
          <td class="thread-list__author">{{ thread.authored_by.profile }}</td>
          <td class="thread-list__latest-post">
            <time datetime="{{ thread.latest_post.created_at|date:'c' }}">{{ thread.latest_post.created_at|date:'j.m.Y H:m' }}</time><br />
            {{ thread.latest_post.authered_by.profile.user }}
          </td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

    <a class="button" href="{% url 'tinyforum:thread-create' %}">
      Neuen Thread erstellen
    </a>
  </div>
</div>
{% endblock %}
