{% extends "tinyforum/base.html" %}

{% load fineforms i18n static %}

{% block extra-body-class %}forum{% endblock %}

{% block title %}{{ thread }} - {% trans 'Forum' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center forum">
    <div class="cell forum__controls">
      <a class="button"
         href="{% url 'tinyforum:thread-list' %}">{% trans 'Back to thread list' %}</a>
      {% if user == thread.authored_by.profile.user or user.is_staff %}  {# FIXME better: is_moderator #}
      <a class="button"
         href="{% url 'tinyforum:thread-update' pk=thread.pk %}">{% trans 'Update thread' %}</a>
      {% endif %}
    </div>

    <div class="cell">
      <h1 class="forum__title">{{ thread }}</h1>
    </div>

    {% for post in object_list %}
    <div class="cell forum__post">
      <h2 class="forum__post-title">
        {% blocktrans with author=post.authored_by ago=post.created_at|timesince trimmed %}
          {{ author }} posted {{ ago }} ago
        {% endblocktrans %}

        {% if post.authored_by == thread.authored_by %}
          <span class="forum__badge">{% trans 'Author' %}</span>
        {% endif %}
        {% if post.authored_by.is_staff %}  {# FIXME has_moderation_powers #}
          <span class="forum__badge">{% trans 'Moderator' %}</span>
        {% endif %}

      </h2>

      <div class="forum__post-text">
        {{ post.text|safe }}
      </div>

      <small class="forum__post-actions">
        {% if user == post.authored_by or user.profile.has_moderation_powers %}
          <a href="{% url 'tinyforum:post-update' pk=post.pk %}">{% trans "Edit" %}</a>
        {% endif %}
          <a href="{% url 'tinyforum:post-report' pk=post.pk %}">{% trans "Report" %}</a>
        {% if post.moderation_status == 'flagged' %}
          <small>{% trans "This post has been reported." %}</small>
        {% endif %}
      </small>

    </div>
    {% endfor %}

    {% if form %}
      <section class="cell forum__editor">
        <h2>{% trans "Write a post" %}</h2>
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.media }}
          {% ff_errors form %}
          {% ff_fields form %}
          {% ff_submit %}
        </form>
      </section>
    {% elif thread.closed_at %}
      <section>
        <h2 class="text-center">{% trans 'This thread is closed.' %}</h2>
      </section>
    {% endif %}

    {% include "tinyforum/pagination.html" %}
  </div>
</div>

{% endblock %}
