{% extends "tinyforum/base.html" %}

{% load fineforms i18n static %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center">
    <div class="cell small-12 medium-9">

      <h1>{% trans 'Update post' %}</h1>

      {% if is_moderator %}<h2>Moderation</h2>{% endif %}

      <form method="post">
        {% csrf_token %}
        {{ form.media }}
        {% ff_errors form %}
        {% ff_fields form %}
        {% ff_submit %}
      </form>

    </div>
  </div>
</div>
{% endblock %}
