{% extends "tinyforum/base.html" %}

{% load i18n tinyforum static %}

{% block title %}{% trans 'Forum' %} - {{ block.super }}{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="grid-x grid-padding-x align-center forum">
    <div class="cell medium-6 forum__controls">

      {% if request.user.is_authenticated %}
        <a class="button" href="{% url 'tinyforum:thread-create' %}">{% trans "Start new discussion" %}</a>
      {% else %}
        <a class="button" href="{% url 'login' %}">{% trans "Login" %}</a>
      {% endif %}

    </div>

    <div class="cell medium-6 forum__filter">
      {% trans "Status" %}:
      <a class="forum__filter-link {% if request.GET.status != "closed" %}forum__filter-link--active{% endif %}" href=".">{% trans "Active" %}</a>
      <a class="forum__filter-link {% if request.GET.status == "closed" %}forum__filter-link--active{% endif %}" href="?status=closed">{% trans "Closed" %}</a>
    </div>

    <div class="cell small-12 forum__threads">
      {% for thread in object_list %}
      <a href="{{ thread.get_absolute_url }}?page=last" class="grid-x grid-padding-x forum__thread {% if thread.is_pinned %}forum__thread--pinned{% endif %}">
        <div class="cell small-11">
          <h2 class="forum__thread-title">{{ thread.title }}</h2>
          <small class="forum__thread-byline">
            {% blocktrans with author=thread.authored_by ago=thread.created_at|timesince trimmed %}
            Started {{ ago }} ago by {{ author }}.
            {% endblocktrans %}

            {% blocktrans with author=thread.latest_post.authored_by ago=thread.latest_post.created_at|timesince trimmed %}
            Latest post by {{ author }} {{ ago }} ago.
            {% endblocktrans %}
          </small>
        </div>
        <div class="cell small-1">
          &#x1f4ac; {{ thread.post_count }}
        </div>
        <div class="forum__star">{% thread_star thread %}</div>
      </a>
      {% endfor %}
    </div>

    {% include "tinyforum/pagination.html" %}

  </div>
</div>

{% endblock %}
